<form class="row" action="/users" method="POST">
    <div class="form-group col-5">
    <label for="name">Enter a name</label>
    <input name="name" type="text" class="form-control" id="name" placeholder="User's Name">
  </div>
  <div class="form-group col-5">
    <label for="email">Email address</label>
    <input name="email" type="email" class="form-control" id="email" aria-describedby="emailHelp">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  
  <div class="col" style="display: flex; align-items:center;">
      <button type="submit" class="btn btn-primary mb-2">Submit</button>
  </div>
  
</form>